.valueContainer {
    display: flex;
    font-size: 24px;
}

.iconContainer {
    margin: 16px;
    width: 24px;
    height: 24px;
    align-self: center;
}

.value {
    margin: 16px 0;
    height: 24px;
    align-self: center;
}
